div {
	border: 1px solid black;
	width: 200px;
	height: 200px;
	background-color: orange;
}

.fila {
	display: flex;
	width: 800px;
	margin: auto;
	background-color: white;
	margin-bottom: 100px;
}

.central {
	margin-left: 100px;
	margin-right: 100px;
}